{% extends 'add.html' %}
{% load static %}

{% block form %}
<link href="{% static 'css/add.css' %}" rel="stylesheet"/>

<div class="page-label-box">
    <h2 class="page-label">|<span style="padding-right: 8px;">  </span>Formal Attire Data</h2>
</div>

<div class="row" id="table-content">
    <h3 class="table-label-x">Female Candidates</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" style="width: 3%;">#</th>
            <th scope="col" style="width: 18%;">Name</th>
            <th scope="col" style="width: 10%;">Program</th>
            <th scope="col" style="width: 12%;">Beauty and Physique</th>
            <th scope="col" style="width: 12%;">Poise and Elegance</th>
            <th scope="col" style="width: 10%;">Confidence</th>
            <th scope="col" style="width: 10%;">Stage Presence</th>
            <th scope="col" style="width: 5%;">Total</th>
            <th scope="col" style="width: 5%;">Control</th>
        </tr>
        </thead>
        <tbody>
        {% for each in data %}
        {% if each.candidate.sex == 'Female' %}
        <tr>
            <th scope="row">{{ each.candidate.idx }}</th>
            <td>{{ each.candidate.first_name }}<span> </span>{{ each.candidate.last_name }}</td>
            <td>{{ each.candidate.program }}</td>
            <td>{{ each.beauty_and_physique }}</td>
            <td>{{ each.poise_and_elegance }}</td>
            <td>{{ each.confidence }}</td>
            <td>{{ each.stage_presence }}</td>
            <td>{{ each.total }}</td>
            <td><a href="{% url 'candidates:formal_attire_detail' pk=each.pk %}">Edit</a></td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <h3 class="table-label-x table-label-male">Male Candidates</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" style="width: 3%;">#</th>
            <th scope="col" style="width: 18%;">Name</th>
            <th scope="col" style="width: 10%;">Program</th>
            <th scope="col" style="width: 12%;">Beauty and Physique</th>
            <th scope="col" style="width: 12%;">Poise and Elegance</th>
            <th scope="col" style="width: 10%;">Confidence</th>
            <th scope="col" style="width: 10%;">Stage Presence</th>
            <th scope="col" style="width: 5%;">Total</th>
            <th scope="col" style="width: 5%;">Control</th>
        </tr>
        </thead>
        <tbody>
        {% for each in data %}
        {% if each.candidate.sex == 'Male' %}
        <tr>
            <th scope="row">{{ each.candidate.idx }}</th>
            <td>{{ each.candidate.first_name }}<span> </span>{{ each.candidate.last_name }}</td>
            <td>{{ each.candidate.program }}</td>
            <td>{{ each.beauty_and_physique }}</td>
            <td>{{ each.poise_and_elegance }}</td>
            <td>{{ each.confidence }}</td>
            <td>{{ each.stage_presence }}</td>
            <td>{{ each.total }}</td>
            <td><a href="{% url 'candidates:formal_attire_detail' pk=each.pk %}">Edit</a></td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}