{% extends 'add.html' %}
{% load static %}


{% block form %}
<link href="{% static 'css/add.css' %}" rel="stylesheet"/>


<div class="page-label-box">
    <h2 class="page-label">|<span style="padding-right: 8px;">  </span>Pageant Proper Overview</h2>
</div>

<a id="btn-transact" class="btn btn-x btn-t-x" href="{% url 'candidates:index' %}">Go Back To Main Page</a>

<div class="row" id="table-content">
    <h3 class="table-label-x">Female Candidates</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" style="width: 3%;">#</th>
            <th scope="col" style="width: 18%;">Name</th>
            <th scope="col" style="width: 10%;">Program</th>
            <th scope="col" style="width: 12%;">Old Street Fashion</th>
            <th scope="col" style="width: 12%;">Formal Attire</th>
            <th scope="col" style="width: 10%;">Uniform Attire</th>
            <th scope="col" style="width: 5%;">OSF Votes</th>
            <th scope="col" style="width: 5%;">FA Votes</th>
            <th scope="col" style="width: 5%;">UF Votes</th>
            <th scope="col" style="width: 5%;">Total</th>
        </tr>
        </thead>
        <tbody>
        {% for each in data %}
        {% if each.candidate.sex == 'Female' %}
        <tr>
            <th scope="row">{{ each.candidate.idx }}</th>
            <td>{{ each.candidate.first_name }}<span> </span>{{ each.candidate.last_name }}</td>
            <td>{{ each.candidate.program }}</td>
            <td>{{ each.old_street_fashion }}</td>
            <td>{{ each.formal_attire }}</td>
            <td>{{ each.uniform }}</td>
            <td>{{ each.old_street_fashion_votes }}</td>
            <td>{{ each.uniform_votes }}</td>
            <td>{{ each.formal_attire_votes }}</td>
            <td>{{ each.total }}</td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>


    <h3 class="table-label-x table-label-male">Male Candidates</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" style="width: 3%;">#</th>
            <th scope="col" style="width: 18%;">Name</th>
            <th scope="col" style="width: 10%;">Program</th>
            <th scope="col" style="width: 12%;">Old Street Fashion</th>
            <th scope="col" style="width: 12%;">Formal Attire</th>
            <th scope="col" style="width: 10%;">Uniform Attire</th>
            <th scope="col" style="width: 5%;">OSF Votes</th>
            <th scope="col" style="width: 5%;">FA Votes</th>
            <th scope="col" style="width: 5%;">UF Votes</th>
            <th scope="col" style="width: 5%;">Total</th>
        </tr>
        </thead>
        <tbody>
        {% for each in data %}
        {% if each.candidate.sex == 'Male' %}
        <tr>
            <th scope="row">{{ each.candidate.idx }}</th>
            <td>{{ each.candidate.first_name }}<span> </span>{{ each.candidate.last_name }}</td>
            <td>{{ each.candidate.program }}</td>
            <td>{{ each.old_street_fashion }}</td>
            <td>{{ each.uniform }}</td>
            <td>{{ each.formal_attire }}</td>
            <td>{{ each.old_street_fashion_votes }}</td>
            <td>{{ each.uniform_votes }}</td>
            <td>{{ each.formal_attire_votes }}</td>
            <td>{{ each.total }}</td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}