{% extends 'add.html' %}
{% load static %}

{% block form %}
<link href="{% static 'css/add.css' %}" rel="stylesheet"/>

<div class="page-label-box">
    <h2 class="page-label">|<span style="padding-right: 8px;">  </span>Pre-Pageant Overview</h2>
</div>

<a id="btn-transact" class="btn btn-x btn-t-x" href="{% url 'candidates:index' %}">Go Back To Main Menu</a>

<div class="row" id="table-content">
    <h3 class="table-label-x">Female Candidates</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" style="width: 5%">#</th>
            <th scope="col" style="width: 25%">Name</th>
            <th scope="col" style="width: 15%">Program</th>
            <th scope="col" style="width: 12%">Corporate Attire</th>
            <th scope="col" style="width: 12%">Panel Interview</th>
            <th scope="col" style="width: 12%">Essay</th>
            <th scope="col" style="width: 12%">Talent</th>
            <th scope="col" style="width: 15%">Total</th>
        </tr>
        </thead>
        <tbody>
        {% for each in data %}
        {% if each.candidate.sex == 'Female' %}
        <tr>
            <th scope="row">{{ each.candidate.idx }}</th>
            <td>{{ each.candidate.first_name }}<span> </span>{{ each.candidate.last_name }}</td>
            <td>{{ each.candidate.program }}</td>
            <td>{{ each.corporate_attire }}</td>
            <td>{{ each.panel_interview }}</td>
            <td>{{ each.essay }}</td>
            <td>{{ each.talent }}</td>
            <td>{{ each.total }}</td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <h3 class="table-label-x table-label-male">Male Candidates</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Program</th>
            <th scope="col">Corporate Attire</th>
            <th scope="col">Panel Interview</th>
            <th scope="col">Essay</th>
            <th scope="col">Talent</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody>
        {% for each in data %}
        {% if each.candidate.sex == 'Male' %}
        <tr>
            <th scope="row">{{ each.candidate.idx }}</th>
            <td>{{ each.candidate.first_name }}<span> </span>{{ each.candidate.last_name }}</td>
            <td>{{ each.candidate.program }}</td>
            <td>{{ each.corporate_attire }}</td>
            <td>{{ each.panel_interview }}</td>
            <td>{{ each.essay }}</td>
            <td>{{ each.talent }}</td>
            <td>{{ each.total }}</td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}